openapi: 3.0.1
info:
  title: PD Model API
  version: 1.0.0
servers:
  - url: http://gpt24.online:8080
paths:
  /upload-doc:
    post:
      summary: Загрузить бухгалтерский документ
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "200":
          description: Документ загружен
  /run-pd:
    post:
      summary: Запустить анализ PD по загруженным документам
      responses:
        "200":
          description: Успешный запуск
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  report_pdf:
                    type: string
                  report_md:
                    type: string
                  report_txt:
                    type: string
  /download/report/{format}:
    get:
      summary: Скачать готовый отчёт
      parameters:
        - name: format
          in: path
          required: true
          schema:
            type: string
            enum: [pdf, md, txt]
      responses:
        "200":
          description: Файл отчёта
          content:
            application/octet-stream: {}
  /health:
    get:
      summary: Проверка состояния сервера
      responses:
        "200":
          description: Сервер работает
